---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';

---

<Layout title="Inicio">
    <Hero />
    <Features />
    <div class="w-full h-32 bg-linear-to-b from-maserati-negro via-maserati-azul/20 to-maserati-negro pointer-events-none"></div>
</Layout>